body{
    background-color:#5A9367;
}
h1{
    color:#C16200;
    font-family: Century;
    
}
h2{
    color:#C16200;
    font-family: Century;
}
p{
    color:#FFFFF3;
    font-family: Century;
}
.div3{
    color:#FFFFF3;
    font-family: Century;
}
.footer{
    background-color: #C16200;
    margin: -3px;
}
.footer-logo{
    color:#FFFFF3;
    font-family: Century;
}
.footer-logo2{
    color:#FFFFF3;
    font-family: Century;
}
ul{
    color:#FFFFF3;
    font-family: Century;
}
li{
    list-style:none;
    color:#FFFFF3;
    font-family: Century;
}