body{
    background-color:#5A9367;
    text-align:middle;

}
h1{
    color:#C16200;
    font-family: Century;
    text-align:middle;

}
h2{
    color:#C16200;
    font-family: Century;
    text-align:middle;

}
p{
    color:#FFFFF3;
    font-family: Century;
    text-align:middle;

}
.div3{
    color:#FFFFF3;
    font-family: Century;
    text-align:middle;

}